# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environment
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# Outputs
outputs/


# OS junk
.DS_Store
Thumbs.db

context/*

# But keep the .gitkeep in context root
!context/.gitkeep

# Also ignore everything inside CoverLetters
context/CoverLetters/*

# But keep the .gitkeep inside CoverLetters
!context/CoverLetters/.gitkeep