# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environment
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# Outputs
outputs/


# OS junk
.DS_Store
Thumbs.db
context/*.md
context/CoverLetters/*.md